<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealtStyle"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthStyle"></div>
        </div>
      </section>
      <div class="container" v-if="winner">
        <h2>Game:</h2>
        <h3 v-if="winner === 'Player is winner'" >You are winner</h3>
        <h3 v-else-if="winner === 'Monster is winner'">Monster is winner</h3>
        <h3 v-else="winner"> is a draw</h3>
      </div>
      <section id="controls">
        <button @click="attackMonster" class="black">ATTACK</button>
        <button  :disabled="mayUseSpecial"  @click="specialAttack" class="black">SPECIAL ATTACK</button>
        <button  :disabled="mayGetHeal"  @click="getHeal" class="black">HEAL</button>
      </section>
    </div>
  </body>
</html>
